
@model IEnumerable<Helpdesk.DataAccess.Request>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>
                No.
            </th>
            <th>
                Application
            </th>
            <th>
                Application Specialist
            </th>
            <th>
                Brand
            </th>
            <th>
                Developer
            </th>
            <th>
                Requestor
            </th>
            <th>
                Title
            </th>
            <th>

            </th>
            <th>
                Booking Reference
            </th>
            <th>
                Priority
            </th>
            <th>
                Status
            </th>
            <th>
                Request Type
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Application.Name)
                </td>
                <td data-app-spec="@item.Id">
                    @Html.DisplayFor(modelItem => item.AppSpecialist.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.Name)
                </td>
                <td data-row="@item.Id">
                    @Html.DisplayFor(modelItem => item.Developer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @{
            var popId = "pop" + item.Id;
            var showId = "show" + item.Id;
                        var message = item.RequestMessage.Count > 0 ? item.RequestMessage.First().Message : "";
                    }

                    <div class="popover-markup thisSize" id="@popId">
                        <span class="trigger fas fa-info" id="@showId"></span>
                        <div class="content invisible">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <div class="list-group-item-text">
                                        <strong>Description:</strong> @message
                                    </div>
                                    <div class="list-group-item-text top">
                                        <strong>Date Created:</strong> @item.DateCreated
                                    </div>
                                    <div class="list-group-item-text top">
                                        <strong>Date Resolved:</strong> @item.DateResolved
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingReference)
                </td>
                <td>
                    @{
                        var priorityClass = "label label-primary";
                        if (item.Priority == "Medium")
                        {
                            priorityClass = "label label-warning";
                        }
                        else if (item.Priority == "High")
                        {
                            priorityClass = "label label-danger";
                        }
                    }
                    @Html.LabelFor(modelItem => item.Priority, item.Priority, htmlAttributes: new { @class = priorityClass })
                </td>
                <td class="text-center">
                    @{
                        var statusClass = "";

                        var icon = "fas fa-ok";
                        if (item.Status == "With Developer")
                        {
                            icon = "fas fa-wrench";
                        }
                        if (item.Status == "Awaiting Deployment")
                        {
                            icon = "fas fa-time";
                        }
                        if (item.Status == "New")
                        {
                            icon = "fas fa-unchecked";
                        }
                        if (item.Status == "Accepted")
                        {
                            icon = "glyphicon fas fa-user";
                        }
                    }
                    @if (item.Status == "New")
                    {
                        <img src="~/Images/New.png" class="small" title="@item.Status" width="30" height="30"/>
                    }
                    else if (item.Status == "Accepted")
                    {
                        <img src="~/Images/Accepted.png" class="small" title="@item.Status" width="30" height="30"/>
                    }
                    else
                    {
                        <span class="@icon" aria-hidden='true' title="@item.Status"></span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestType)
                </td>
                <td>
                    @Html.ActionLink(" ", "UpdateRequest", new {requestId = item.Id}, htmlAttributes: new {@class = "btn btn-primary btn-xs fas fa-pencil", @title = "Update This Request"})
                </td>
                <td>
                    @if (ViewBag.Role != "User")
                    {
                        <a href="#myModal" class="btn btn-primary btn-xs" data-toggle="modal" data-request="@item.Id"><span class="fas fa-link" data-toggle="tooltip" title="Assign To Developer"></span></a>
                    }
                </td> 
                <td>
                    @if (ViewBag.Role == "AppSpecialist" && item.AppSpecialistId == null)
                    {
                        <a id="btnSaveApp" onclick="AssignTo('@item.Id');" class="btn btn-success btn-xs" data-request="@item.Id"><span class="fas fa-thumbs-up" data-toggle="tooltip" title="Accept This Request"></span></a>
                    }
                </td>
            </tr>
        }

    </table>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="devModal">Assign this request to a developer</h4>
            </div>
            <div class="modal-body">
                @*@{ Html.RenderAction("Developers", "Request"); }*@
                <vc:developer></vc:developer>
            </div>
            <div class="modal-footer">
                <button id="btnSave" type="button" class="btn btn-default" data-dismiss="modal">Assign</button>
            </div>
        </div>
    </div>
</div>